{% extends '_template.html' %}

{% block body %}
<nav class="navbar p-4 justify-content-center border-bottom mx-5 border-dark">
    <div class="navbar-brand">
        <a href="/user_prof" class="text-decoration-none text-white" >Profile</a>
    </div>
</nav>

<div class="container mt-4">
    <!-- User Profile Section -->
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">{{ user.first_name }} {{ user.last_name }}</h1>
            {% if user.bio %}
                <h2 class="display-6 mt-3">{{ user.bio }}</h2>
            {% else %}
                <p></p>
            {% endif %}
        </div>
    </div>

    {% if not is_private or is_own_profile %}
        <!-- User Posts Section -->
        <div class="row mt-4">

            <!-- Add Post Icon  -->
            {% if is_own_profile %}
                {% if can_edit %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 d-flex justify-content-center align-items-center">
                            <a href="{{ url_for('upload.get_upload_page') }}" class="text-decoration-none">
                                <div class="display-1">+</div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            <!-- User Posts -->
            {% if user_posts %}
                {% for post in user_posts %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <video class="card-img-top" controls>
                                <source src="{{ distribution_url }}videos/{{ post.video_id }}.mp4" type="video/mp4">
                            </video> 
                            
                            <div class="card-body card-body-fixed-height">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.msg }}</p>
                                <p class="text-muted">{{ post.date_posted }}</p>
                            </div>
                            
                            <!-- Delete button container -->
                            {% if is_own_profile %}
                                <div class="card-delete-btn-container">
                                    <form action="{{ url_for('profiles.delete_post', post_id=post.id) }}" method="POST" onsubmit="return confirmDelete();">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    {% else %}
        <div class="row mt-4">
            <div class="col text-center">
                <p>This profile is private.</p>
                <img src="{{ url_for('static', filename='images/privatepfp.png') }}" alt="Private Profile" class="img-fluid" style="max-width: 200px;">
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}




