{% extends '_template.html' %}

{% block body %}

<!-- User Profile Section -->
<div class="container mt-4">
    <div class="row align-items-center">
        <!-- Profile Picture Column -->
        <div class="col-md-4">
            <div class="profile-pic-container text-center mb-4">
                {% if true %}
                <img src="{{ distribution_url}}/images/pfps/{{user.id}}.png" alt="{{ user.user_name }}'s Profile Photo" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                {% else %}
                    <img src="{{ url_for('static', filename='images/pfp.png') }}" alt="Default Profile Photo" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                {% endif %}
            </div>
        </div>
        
        <!-- User Info Column -->
        <div class="col-md-5">
            <!-- Username -->
            <h2>{{ user.user_name }}</h2>
            <!-- First and Last Name -->
            <h4 class="text-muted">{{ user.first_name }} {{ user.last_name }}</h4>
            <!-- Bio -->
            {% if user.bio %}
                <p class="bio-text" style="font-size: 75%;">{{ user.bio }}</p>
            {% endif %}
        </div>

        <!-- Buttons Column -->
        {% if is_own_profile %}
        <div class="col-md-3 text-md-right text-center buttons-container">
            <!-- Edit Profile Button -->
            <a href="{{ url_for('profiles.get_settings') }}" class="btn btn-primary mb-2">Update Profile</a>
            <!-- Logout Button -->
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>


<hr class="my-4">
    



<div class="container mt-4">

    {% if not is_private or is_own_profile %}
        <!-- User Posts Section -->
        <div class="row mt-4">

            <!-- Add Post Icon  -->
            {% if is_own_profile %}
                {% if can_edit %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 d-flex justify-content-center align-items-center plus-card">
                            <a href="{{ url_for('upload.get_upload_page') }}" class="text-decoration-none">
                                <div class="display-1">+</div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}


            <!-- User Posts -->
            {% if user_posts %}
                {% for post in user_posts %}
                    <div class="col-md-4 mb-4">
                        <div class="card card-hover-effect" style="background-color: #e4e4e4; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); border-radius: 10px; border: none; cursor: pointer;">
                            <a href="{{ url_for('get_single_post', post_id=post.id) }}" class="text-decoration-none"> 
                                {% if flask_env == 'prod' %}
                                    <img class="card-img-top" src="{{ distribution_url }}videos/thumbnails/{{ post.video_id }}-00001.png" alt="thumbnail">
                                {% else %}
                                    <img class="card-img-top" src="{{ url_for('static', filename='uploads/thumbnails/videos/' ~ post.video_id ~ '-00001.png') }}" alt="thumbnail">
                                {% endif %}
                            </a>
                            
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title">{{ post.title | truncate(30, true) }}</h5>
                                <p class="text-muted mb-0">{{calc_time(post.id)}}</p>
                            </div>
                            
                            <!-- Delete button container -->
                            {% if is_own_profile %}
                                <div class="card-delete-btn-container">
                                    <form action="{{ url_for('profiles.delete_post', post_id=post.id) }}" method="POST" onsubmit="return confirmDelete();">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <div class="row mt-4">
            <div class="col text-center">
                <p>This profile is private.</p>
                <img src="{{ url_for('static', filename='images/privatepfp.png') }}" alt="Private Profile" class="img-fluid" style="max-width: 200px;">
            </div>
        </div>
    {% endif %}
</div>


{% endblock %}





