{% extends '_template.html' %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Upload Video</div>
                <div class="card-body">
                    <form action="/upload/new" enctype="multipart/form-data" method="POST" class="form-horizontal">
                        <div class="form-group row">
                            <label for="file" class="col-sm-3 col-form-label">Choose File</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="file" accept="video/*" id="file" name="file" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="title" class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="title" name="title" maxlength="255" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="description" id="description" rows="4" style="resize: none;" maxlength="255"></textarea>
                                <span id="charCount" style="font-size: 0.8em; color: grey;">(0/255)</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if msg %}
                <div class="alert alert-info mt-3">{{ msg }}</div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var descriptionTextArea = document.getElementById('description');
        var charCountElement = document.getElementById('charCount');

        descriptionTextArea.addEventListener('input', function () {
            var currentLength = descriptionTextArea.value.length;
            charCountElement.textContent = `(${currentLength}/255)`;
        });
    });
</script>


{% endblock %}
