{% extends '_template.html' %}

{% block body %}

<div class="d-flex flex-column w-100 justify-content-center align-items-center">
  <div class="d-flex flex-column w-75 align-items-center justify-content-end">
    {% if posts %}
    {% for post in posts %}
    <div class="d-flex flex-row mb-3 h-100" style="max-height: 1fr;">
      <!-- Video Div -->
      <div class="card shadow p-2 h-100 border-0" style="width: 65%; background-color: #efefef;">
        <a class="text-decoration-none fs-3 text-reset " href="{{url_for('get_single_post', post_id=post.id)}}"><p>{{post.title}}</p></a>
        <hr>
        <div class="flex-row d-inline-flex">
          <h5 style="width: 600px; text-wrap: nowrap; overflow-x: hidden; text-overflow: ellipsis;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg> <a class="text-decoration-none" style="color: #846DCF" href="{{ url_for('profiles.view_profile', user_id=post.user_id) }}">{{ UserTable.query.get(post.user_id).user_name }}</a> - {{ post.msg }}
          </h5>
        </div>  

        <video class="w-100 h-75" controls>
            <source src="{{distribution_url}}videos/{{post.video_id}}.mp4">
        </video>
        <p class="text-muted fs-6">{{calc_time(post.id)}}</p>
      </div>
        
      <!-- Ratio Div -->
      <div class="d-flex flex-column align-items-center" style="width: 5%;">
          <div class="d-flex flex-column justify-content-between align-content-between h-100">
            <form action="{{ url_for('edit_ratio', post_id=post.id) }}" method="post">
                <button class="btn btn-transparent" type="submit" name="user_rev" id="user_rev" value="1"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="Green" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                </button>
            </form>
            <p class="text-center position-relative font-monospace fs-4" style="top: 5px;">{{counter(post.id)}}</p>
            <form action="{{ url_for('edit_ratio', post_id=post.id) }}" method="post">
              <button class="btn btn-transparent" type="submit" name="user_rev" id="user_rev" value="0"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="Red" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                  </svg>
                </button>
            </form>
          </div>
      </div> 
      <!-- Comment Div -->
      <div class="card d-flex flex-column scroll-black align-self-start justify-content-end shadow border-0" style="width: 30%; background-color: #efefef;">
        <h2 class="text-center" style="position: sticky;">Comments</h2>
        <div class="scroll-black overflow-y-scroll">  
          <div class="d-flex flex-column" style="height: 437px;">
            {% for comm in get_post_comments(post.id) %}          
              <div class="card-text p-1">
                <a href="{{url_for('profiles.view_profile', user_id=UserTable.query.get(comm.user_id).id)}}" class="text-decoration-none" style="color: #846DCF">{{UserTable.query.get(comm.user_id).user_name}}</a>: {{comm.message}}
              </div>                
            {% endfor %}
          </div>
        </div>
        <div class="d-flex flex-column w-100 justify-content-end">
          <form method="post" action="{{url_for('post_comment', post_id=post.id )}}">              
            <div class="comment-hide" id="comment-input" style="position: absolute;">
              <textarea cols="30" rows="4" placeholder="Insert comment here" id="comment" name="comment" required></textarea>
            </div>
            <div class="d-inline-flex w-100 justify-content-center">
              <div id="comment-button-toggle" class="button-expand">
                  <button class="btn btn-primary w-100" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    </svg>
                  </button>
              </div> 
              <div class="button-hide" id="button-send">
                <button class="btn btn-success w-100" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                  </svg>
                </button>
              </div>
            </div>         
          </form> 
        </div>
      </div> 
    </div>  
    {% endfor %} 
    {% endif %}
  </div>  
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="d-flex flex-row alert alert-success alert-dismissible fade show w-100 justify-content-center fixed-top" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <div> {{message}} </div>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<script defer>
    
  'use strict';

  const commentButtons = document.querySelectorAll("#comment-button-toggle");
  const commentInputs = document.querySelectorAll("#comment-input");
  const sendButtons = document.querySelectorAll("#button-send");

  for (let i = 0; i < commentButtons.length; i++) {
      const button = commentButtons[i];
      button.addEventListener('click', ()=>{
          showSendButton(sendButtons[i]);
          showCommentBox(commentInputs[i]);
          if (button.classList.contains("button-expand")){            
            button.classList.add("button-shrink");
            button.classList.remove("button-expand");
          }
          else{
            button.classList.add("button-expand");
            button.classList.remove("button-shrink");
          }
      })
  }

function showCommentBox(textArea){
  if(textArea.classList.contains("comment-hide")){
              textArea.classList.remove("comment-hide");

              textArea.classList.add("comment-show");
          }
          else {
              textArea.classList.remove("comment-show");
              textArea.classList.add("comment-hide");
          }
}

function showSendButton(button){
  if(button.classList.contains("button-hide")){
    button.classList.add("button-show");
    button.classList.remove("button-hide");
  }
  else{
    button.classList.remove("button-show");
    button.classList.add("button-hide");
  }
}

</script>

{% endblock %}
