{% extends '_template.html' %}
{% block body %}

<nav class="navbar p-4 justify-content-evenly border-bottom mx-5 border-dark border-4">
    <div class="navbar-brand">
        <a href="/" class="text-decoration-none text-white">Trending</a>
    </div>
    <div class="navbar-brand active">
        <a href="{{url_for('jam_sessions.get_sessions')}}" class="text-decoration-none text-white">Sessions</a>
    </div>
</nav>

{% if posts %}
{% for post in posts %}
<div class="d-flex flex-row mx-5 mt-3">

    
    <div class="d-flex flex-column w-50">
        <div class='d-flex flex-column justify-content-center'>
            <div>
                <a class="text-decoration-none fs-1 text-reset " href="{{url_for('get_single_post', post_id=post.id)}}">{{post.title}}</a>
            </div>
            <h4>{{user_table.query.get(post.user_id).user_name}}</h1>
                <video class="object-fit-scale"controls>
                    <source src="{{distribution_url}}videos/{{post.video_id}}.mp4">
                </video>
                <p>{{post.msg}}</p>
                <p>{{post.date_posted}}</p>
            </div>
        </div>
        <div class="d-flex flex-column w-100">
            <div class="comment-hide" id="comment-input">
                <textarea cols="30" rows="4" ></textarea>
            </div>
            <button class="btn btn-light" type="button" id="comment-button-toggle">Comment</button>
        </div>
    </div>
    {% endfor %}            
    {% endif %}





{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="d-flex flex-row alert alert-success alert-dismissible fade show w-100 justify-content-center fixed-top" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <div> {{message}} </div>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<script defer>
    
    'use strict';

    const commentButtons = document.querySelectorAll("#comment-button-toggle");
    const commentInputs = document.querySelectorAll("#comment-input");

    for (let i = 0; i < commentButtons.length; i++) {
        const button = commentButtons[i];

        button.addEventListener('click', ()=>{
            showCommentBox(commentInputs[i]);
        })
    }

function showCommentBox(textArea){
    if(textArea.classList.contains("comment-hide")){
                textArea.classList.remove("comment-hide");
                textArea.classList.add("comment-show");
            }
            else {
                textArea.classList.remove("comment-show");
                textArea.classList.add("comment-hide");
            }
}






</script>

{% endblock %}
