{% extends '_template.html' %}
{% block body %}

<nav class="navbar p-4 justify-content-evenly border-bottom mx-5 border-dark border-4">
    <div class="navbar-brand">
        <a href="/" class="text-decoration-none text-white">Trending</a>
    </div>
    <div class="navbar-brand active">
        <a href="{{url_for('jam_sessions.get_sessions')}}" class="text-decoration-none text-white">Sessions</a>
    </div>
</nav>

<div class="d-flex flex-column w-100 mx-5 mt-3">
    {% if posts %}
        {% for post in posts %}
                <div class='d-flex flex-column'>
                    <h2>{{post.title}}</h3>
                    <h4>{{user_table.query.get(post.user_id).user_name}}</h1>
                    <div class="d-block">
                        <video controls>
                            <source src="{{distribution_url}}videos/{{post.video_id}}.mp4">
                        </video>
                    </div>
                    <p>{{post.msg}}</p>
                    <p>{{post.date_posted}}</p>
                </div>
        {% endfor %}            
    {% endif %}
</div>



<!---->


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="d-flex flex-row alert alert-success alert-dismissible fade show w-100 justify-content-center fixed-top" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <div> {{message}} </div>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% endblock %}
