{% extends '_template.html' %}



{% block body%}

<nav class="navbar p-4 justify-content-evenly border-bottom mx-5 border-dark border-4">
        <div class="navbar-brand">
            <a href="/" class="text-decoration-none text-white">Trending</a>
        </div>
        <div class="navbar-brand active">
            <a href="" class="text-decoration-none text-white">Sessions</a>
        </div>
</nav>

<h1 class="pt-2 mb-4 mx-4 text-white text-center">Find a Session</h1>

<div class="d-flex flex-row h-auto w-auto mx-2 scroll-black"> 
    <div class="col row-cols-1 px-3 overflow-y-scroll mx-1" style="height: 600px;">
    {% for session in active_sessions %}
        <div class="card-group">
            <div class="card bg-light-subtle rounded-4 shadow mb-3 test">
                <div class="card-body">
                    <h5 class="card-title">{{ session.title}}</h5>
                    <p class="card-subtitle text-muted">{{session.host_name}}</p>
                    <p class="card-text mt-2">{{ session.message }}</p>
                    <div class="d-flex justify-content-between"> 
                        <p class="card-text"><small class="text-muted">{{session.date}}</small></p>
                        <button type="button" class="btn btn-success h-auto w-auto">Join Session</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

    <div class="d-flex flex-column mx-4 justify-content-center h-auto">
        <div class="" id="map" name="map"></div>
        <a href="sessions/new_session" class="btn btn-success h-auto w-auto mt-2">Create New Session</a>
    </div>
</div>

<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyBB9K1RjPnWTNAvCWp5xkrCjT5o5xpx2Bo", v: "beta"});
</script>

<script>

'use strict';

let map;

let sessionMarkerPlaced = false;
let infoWindowOpen = false;

let currentInfoWindow;

// Dictionary of Session Markers
const activeSessions = {{ session_data|tojson }};

const addMarkerButton = document.getElementById("add_session_button");
let markerTitleInput = document.getElementById("session_title");

async function initMap() {

    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    const { InfoWindow } = await google.maps.importLibrary("maps");

    const position = { lat: 35.30882205337362, lng: -80.73374243196827 };
    
    map = new Map(document.getElementById("map"), {
        zoom: 16,
        center: position,
        mapId: "DEMO_MAP_ID",
    });


    for (const [key, value] of Object.entries(activeSessions)) {
        let marker = new AdvancedMarkerElement({
            map: map,
            position: { lat: value.lat, lng: value.lng },
            title: value.title,
        });
        
        let infoWindow = new InfoWindow({
            content: `
            <h3 style="color: black">${value.title}</h3>
            <div style="color: black">
                <p>
                    <strong>Host</strong>: ${value.host_name}
                    <br>
                    <strong>Extra Info</strong>: ${value.message}
                </p>
            </div>`,
            maxWidth: 250,
        });
        
        marker.addEventListener('gmp-click', () => {
            if(infoWindowOpen){
                currentInfoWindow.close();
                infoWindow.open({
                    anchor: marker,
                    map,
                });
                currentInfoWindow = infoWindow;
                infoWindowOpen = true;
            }
            else {
                infoWindow.open({
                    anchor: marker,
                    map,
                });
                currentInfoWindow = infoWindow;
                infoWindowOpen = true;
            }
        });
    }

    
}

initMap();

</script>

{% endblock %}
