{% extends '_template.html' %}

{% block body %}
 
        <div class="d-flex flex-column mx-4 mt-3">
            <video class="" width="1300px" height="680" controls>
                <source src="{{distribution_url}}videos/{{post.video_id}}.mp4">
            </video>

            <h1 class="d-flex">{{post.title}}</h1>
            <p class="d-flex">posted on {{post.date_posted}}</p>
            <h3>{{post.msg}}</h3>
        </div>

        <div class="mx-4">
            <h1 class="align-content-start mt-6">Comments</h1>
            <div class="d-flex flex-column mt-2">
                {% for comment in comments %}
                    <p>{{UserTable.query.get(comment.user_id).user_name}}: {{comment.message}}</p>
                {% endfor %}
            </div>


            <form action="{{url_for('post_comment', post_id=post.id )}}" method="post">
                <label for="comment">Comment</label>
                <input type="text" id="comment" name="comment">
                <button type="submit">Post</button>
            </form>
        </div>

          
{% endblock %}